<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<div layout:fragment="content">

  <div class="container-md">
    <th:block th:with="bvo=${boardDTO.boardVO}">

    <h3>NO.[[${bvo.bno}]] Board Detail Page</h3>
    <form action="/board/modify" method="post" id="modifyForm" enctype="multipart/form-data">
      <input type="hidden" name="bno" th:value="${bvo.bno}">
      <div class="mb-3">
        <label for="t" class="form-label">제목</label>
        <input type="text" class="form-control" name="title" id="t" placeholder="title.." th:value="${bvo.title}" readonly="readonly">
      </div>

      <div class="mb-3">
        <label for="w" class="form-label">작성자</label>
        <input type="text" class="form-control" name="writer" id="w" placeholder="writer.." th:value="${bvo.writer}" readonly="readonly">
      </div>

      <div class="mb-3">
        <label for="c" class="form-label">내용</label>
        <textarea type="text" class="form-control" name="content" rows="5" id="c" placeholder="content.." readonly="readonly">[[${bvo.content}]]</textarea>
      </div>

      <div class="mb-3">
        <label for="r" class="form-label">작성일자</label>
        <input type="text" class="form-control" id="r" placeholder="content.." th:value="${bvo.regDate}" readonly="readonly"></input>
      </div>

      <!-- 파일 출력 라인 -->
      <div id="fileList" class="mb-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item fileBno" th:each="fvo:${boardDTO.fileList}">
            <div th:if="${fvo.fileType == 1}" class="mb-3">
              <!--
               이미지 경로 양 옆에 절댓값이 들어가는 이유는
               webMvcConfig 에서 설정한 절대경로인 /upload 인식하기 위해서이다.

               즉 사용하게 되면 루트 디렉터리 기준의 절대 경로(/upload/**)를 인지하여,
               서버 도메인 기준으로 정해진위치에서 파일을 찾아 올 수 있다.
               -->
              <img th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}" alt="사진">
            </div>
            <div th:unless="${fvo.fileType == 1}" class="mb-3">
              <!--/*icon*/-->
              <a th:href="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}"
                 th:download="${fvo.fileName}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                </svg>
              </a>
              <div class="mb-3">
                <div class="fw-bold">[[${fvo.fileName}]]</div>
                [[${fvo.regDate}]]
              </div>
              <span class="badge text-bg-primary rounded-pill">[[${fvo.fileSize}]]Bytes</span>
            </div>
            <button type="button" th:data-uuid="${fvo.uuid}" class="btn btn-outline-danger file-x" style="visibility:hidden">파일삭제</button>
          </li>
        </ul>
      </div>

      <!-- file 추가 -->
      <div class="mb-3">
        <input type="file" class="form-control" name="files" id="file" multiple style="display:none;">
        <button type="button" class="btn btn-outline-success" id="trigger" disabled>파일</button>
      </div>
      <!-- file 표시 -->
      <div class="mb-3" id="fileZone">
      </div>

      <a th:href="@{/board/list}"><button type="button" class="btn btn-primary">목록</button></a>
      <button type="button" class="btn btn-info" id="modifyBtn">수정</button>
      <a th:href="@{/board/delete(bno=${bvo.bno})}"><button type="button" class="btn btn-danger" id="deleteBtn">삭제</button></a>


    </form>
      <!-- 댓글 입력 라인 -->
      <div class="input-group mb-3 w-50" style="margin-top : 100px" th:with="auth=${#authentication.getPrincipal}, bvo=${boardDTO.boardVO}">
        <span class="input-group-text">아이디</span>
        <input type="text" class="form-control" aria-label="Username" th:value="${auth.username}" id="email" readonly> <!-- 로그인한 계정의 email -->
        <span class="input-group-text">닉네임</span>
        <input type="text" class="form-control" aria-label="Server" th:value="${auth.userVO.getNickName}" id="nickName" readonly> <!-- 로그인한 계정의 nickName -->
      </div>

      <div class="input-group w-50">
        <span class="input-group-text">comment</span>
        <textarea class="form-control" aria-label="With textarea" id="content" placeholder="comment"></textarea>
      </div>
      <button type="button" id="commentRegBtn" disabled>댓글등록</button>
      <!-- 댓글 출력라인 -->
      <div class="input-group mb-3 w-50" style="margin-top : 100px" id="printComment">

      </div>

    </th:block>
    <th:block th:with="auth=${#authentication.getPrincipal}, bvo=${boardDTO.boardVO}">
      <script th:inline="javascript">
        const bno = [[${bvo.bno}]];
      </script>
    </th:block>
    <script th:src="@{/js/boardDetail.js}"></script>
    <script th:src="@{/js/boardRegister.js}"></script>
    <script th:src="@{/js/boardDetailComment.js}"></script>
    <script>
      printCommentList(bno);
    </script>
  </div>
</div>
