<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<div layout:fragment="content">
  <div class="container-md">
    <h3>Board Register Page</h3>

    <form action="/board/register" method="post">

      <div class="mb-3">
        <label for="t" class="form-label">제목</label>
        <input type="text" class="form-control" name="title" id="t" placeholder="title..">
      </div>

      <div class="mb-3">
        <label for="w" class="form-label">작성자</label>
        <input type="text" class="form-control" name="writer" id="w" placeholder="writer..">
      </div>

      <div class="mb-3">
        <label for="c" class="form-label">내용</label>
        <textarea type="text" class="form-control" name="content" rows="5" id="c" placeholder="content.."></textarea>
      </div>

      <button type="submit" class="btn btn-primary">저장</button>

    </form>


  </div>
</div>
