<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<div layout:fragment="content">
  <div class="container-md">
    <h3>User Modify Page</h3>
    <th:block th:with="auth=${#authentication.getPrincipal}">
      <th:block th:with="uvo=${auth.userVO}">
        <form action="/user/update" method="post">
          <div class="card" style="width: 24rem; margin-top : 20px;">
            <img th:src="@{/image/choonsic.jpg}" class="card-img-top" alt="...">

            <div class="card-header text-bg-success">
              ROLE
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" th:each="avo:${uvo.authList}">[[${avo.auth}]]</li>
            </ul>

            <div class="card-header text-bg-primary">
              아이디
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><input class="form-control" name="email" type="text" readonly th:value="${uvo.email}"></li>
            </ul>
            <div class="card-header text-bg-primary">
              닉네임
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><input class="form-control" name="nickName" type="text" th:value="${uvo.nickName}"></li>

            <div class="card-header text-bg-primary">
              비밀번호
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><input class="form-control" name="pwd" type="password"></li>
            </ul>

            <div class="card-header text-bg-info">
              가입일(마지막 로그인)
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">[[${uvo.regDate}]]([[${uvo.lastLogin}]])</li>
            </ul>
          </div>
          <div class="card-body">
            <button type="submit" class="btn btn-primary">정보수정</button>
          </div>
        </form>
        <form action="/user/removeUser" method="post">
          <input type="hidden" name=email th:value="${uvo.email}">
          <button type="submit" class="btn btn-danger">회원탈퇴</button>
        </form>

      </th:block>

      <!--/*

      */-->

    </th:block>

  </div>
</div>
